@font-face {
    font-family: WellCake;
    src: url(Fontes/WellCake.ttf) format('truetype');
}

body {
    font-family: WellCake !important;
    background-color: #88CCF1 !important;
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 25px;
    background-color: #88CCF1 !important;
}

.navbar-nav .nav-link {
    color: #725AC1 !important;
}

.navbar-nav .nav-link:hover {
    color: #FFD166 !important; 
}

/* Container principal alinhado ao centro */
#container-principal {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: center;  
    height: 90vh;
}

/* Caixa de texto reduzida */
#caixa-de-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12%;
    background-color: white;
    width: 600px; /* Reduzindo tamanho */
    height: 400px;
}

/* Texto principal menor */
#texto-principal {
    color: #FFC1CF;
    text-align: center;
    font-size: 80px; /* Reduzindo tamanho */
    line-height: 70px;
}

/* Destaque "melhores" */
#melhores {
    color: #725AC1;
}

/* Botão de pedido */
#container-peca-o-seu {
    background-color: #FFD166; 
    padding: 12px 25px;
    border-radius: 17px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.whatsapp {
    color: #725AC1;
    font-size: 24px;
    text-decoration: none;
}

.whatsapp:hover {
    color: #99D19C;
}

/* Imagem principal menor */
#moca {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 100px 5px;
}

#imagem-principal {
    height: 500px; /* Reduzindo tamanho */
}

/* Texto secundário */
#texto-secundario {
    color: #FFC1CF;
    text-align: center;
    font-size: 50px; 
    margin-top: 30px;
}

/* Cards dos produtos */
.card-img-top {
    height: 350px; /* Diminuindo tamanho */
    object-fit: cover;
}

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
}

/* Rodapé */
.footer {
    color: #725AC1;
    text-align: center;
    padding: 20px 0;
}

.linhaFooter {
    border-top: 1px solid rgb(0, 119, 255);
    width: 100%;
    margin-top: 10px;
}

.contato {
    font-size: 18px;
}

/* Ícones de aviso */
.avisos {
    height: 40px;
}

/* Estilização geral */
.saiba-mais {
    color: #88CCF1;
    font-size: 30px;
    text-decoration: none;
}

.saiba-mais:hover {
    color: #99D19C;
}