@font-face {
    font-family: Mont;
    src: url(Fontes/Montserrat-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: WellCake;
    src: url(Fontes/WellCake.ttf) format('truetype');
}

body {
    font-family: Mont ;
    background-color: #88CCF1 ;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    margin: 50px;
}
#sobrenos-titulo {
    color: #725AC1;
    font-size: 60px;
    font-family: WellCake;
    
}
.link {
    color: #725AC1;
    text-decoration: none;
    font-family: Mont;

}

.link:hover{
    color: #FFD166 !important;
    text-decoration: none;
    
}
.link:visited{
    color: #725AC1;
    text-decoration: none;
    
}

#imagem-ingryd {
    height: 168px;
    width: 148px; 
    border-radius: 25px;
}
#imagem-maria {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-jackson {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-thauan {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-silva {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-janaina {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-damasco {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}
#imagem-thamires {
    height: 168px;
    width: 148px;
    border-radius: 25px;
}

#container-total {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 5px;
}

#conteiner-ingryd, #conteiner-silva, #conteiner-thauan, #conteiner-janaina, 
#conteiner-jackson, #conteiner-maria, #conteiner-damasco, #conteiner-thamires {
    width: 300px;
    text-align: center;
    padding: 15px;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 30px;
    background-color: aliceblue;
    height: 350px; 
}


.nome-titulo {
    font-size: 20px;
    color: #725AC1;
}
